[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/vuljector/re2
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/vuljector/googletest
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/vuljector/abseil-cpp
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/vuljector/protobuf
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/vuljector/capstone
[submodule "third_party/demumble"]
	path = third_party/demumble
	url = https://github.com/vuljector/demumble
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/vuljector/zlib
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/vuljector/zstd
